@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(45deg, rgb(0, 196, 0), rgb(84, 84, 255));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px;
    width: 300px;
    height: 435px;
}

.output{
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.00);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.0);
    height: 90px;
    margin: 5px;
}

.output-row1{
    justify-content: center;
    height: 50%;
    width: 100%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    padding-right: 5px;
    color: rgb(233, 233, 233);
    overflow-y: auto;
}

.output-row2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 100%;
    text-align: right;
    font-size: 24px;
    font-weight: 600;
    padding-right: 5px;
    color: aliceblue;
}

.options{
    display: flex;
    flex-direction: column;
    margin: 5px 5px 0px 5px
}

.row{
    display: flex;
    justify-content: space-between;
}

.mlt{
    margin: 0px 5px 5px 0px;
}

.mmt{
    margin: 0px 5px 5px 0px;
}

.mrt{
    margin: 0px 0px 5px 0px;
}

.mlm{
    margin: 0px 5px 5px 0px;
}

.mrm{
    margin: 0px 0px 5px 5px;
}

.element{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.0);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: calc(24%);
    height:50px;
    color: rgba(255, 255, 255, 0.728);
    font-size: 22px;
    font-weight: 600;
}

.element:hover{
    background: rgba(227, 227, 227, 0.781);
    color: rgba(35, 24, 24, 0.689);
}

::-webkit-scrollbar {
    width: 3px;
  }
  
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(35, 24, 24, 0.689);
    border-radius: 8px;
  }
  
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c1c0c0;
    border-radius: 10px;
  }

  .dark-bg{
    background: rgba(28, 18, 18, 0.424);
  }

  .dark-bg:hover{
    background: rgba(35, 24, 24, 0.689);
    color: rgb(255, 255, 255);
  }

  .orange-bg{
    background-color: rgb(235, 127, 27);
    color: white;
  }

  .orange-bg:hover{
    background-color: rgb(129, 63, 1);
    color: rgb(255, 255, 255); 
  }

  h3{
    color: white;
    text-shadow: 2px 2px 5px rgb(54, 54, 54);
  }